<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="fragments/bootstrap :: bootstrap"></th:block>
    <title>Document</title>
</head>
<body>

    <div th:insert="fragments/navbar :: navbar"></div>
    <div class="container">

        <h1 class="text-center my-4">Special Offer for [[${specialOffer.pizza.name}]]</h1>
        <form class="card p-3" th:action="${edit} ? @{|/specialoffer/edit/${specialOffer.id}|} : @{/specialoffer/create}" method="post" th:object="${specialOffer}">

            <!-- qui ci sono i dati della mia pizza -->
            <input type="hidden" th:field="*{pizza}" id="liked-pizza">
            <div class="mb-3">
                <label for="name" class="form-label">Special Offer Title</label>
                <input
                    type="text"
                    class="form-control"
                    name=""
                    id="title"
                    aria-describedby="helpId"
                    placeholder=""
                    th:field="*{title}"
                    th:errorClass="is-invalid"
                />
                <div class="mb-3 ps-2 invalid-feedback" th:if="${#fields.hasErrors('title')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('title')}" th:text="${error}"></li>
                    </ul>
                </div>
                
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Start: </label>
                <input
                    type="date"
                    class="form-control"
                    name="startOfferDate"
                    id="description"
                    aria-describedby="helpId"
                    placeholder=""
                    th:field="*{startOfferDate}"
                    th:errorClass="is-invalid"
                />
                <div class="mb-3 ps-2 invalid-feedback" th:if="${#fields.hasErrors('startOfferDate')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('startOfferDate')}" th:text="${error}"></li>
                    </ul>
                </div>
                
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">End: </label>
                <input
                    type="date"
                    class="form-control"
                    name=""
                    id="endOfferDate"
                    aria-describedby="helpId"
                    placeholder="Insert endOfferDate"
                    step="0.01"
                    th:field="${specialOffer.endOfferDate}"
                    th:errorClass="is-invalid"
                />
                <div class="mb-3 ps-2 invalid-feedback" th:if="${#fields.hasErrors('endOfferDate')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('endOfferDate')}" th:text="${error}"></li>
                    </ul>
                </div>
                
            </div>
           

            <div class="d-flex gap-3">

                <button
                    type="submit"
                    class="btn btn-success"
                >
                    Save
                </button>
                <button
                    type="reset"
                    class="btn btn-warning"
                >
                    Reset
                </button>
            </div>
            


            

        </form>

        
        
    </div>

</body>
</html>